<div style="padding: 30px">
    <h2>Random Numbers</h2>
    <button onclick="location.href='/'">Volver al inicio</button>
    <ul>
        {{#each dataArray}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>