<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: #ff4d4d;color: white;">
        <h1>User Login Error</h1>

        <button class="btn btn-danger my-5" onclick="location.href='/'">VOLVER</button>
    </div>
</div>