<div>
  <h2 class="title">Lista de productos</h2>

  <table class="product-list">
    <tr>
      <th>Título</th>
      <th>Precio</th>
      <th>Miniatura</th>
    </tr>
    {{#if productos.length}}
      {{#each productos}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.price}}</td>
          <td><img height="72px" width="72px" src={{this.thumbnail}} /></td>
        </tr>
      {{/each}}
    {{/if}}
  </table>

</div>

<a class="button" href="/login"><button>Ir a login</button></a>
<a class="button" href="/products/create"><button>Ir a crear un producto</button></a>

<style>
  table, th, td { border: 1px solid; }
  .form { margin: 30px; }
  .title { text-align: center; }
  .product-list { width: 90%; margin: 30px; }
  .button { margin: 30px; }
</style>